<section id="welcome">
<div class="container">
  <% if signed_in? %>
    Hey, Welcome <%= current_user.email %>
    <div class="row">
      <div class="col-md-8">
        <h1>Register your TIME Frame</h1>
      </div>
    </div>
  <% else %>
    
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Welcome to the TIME Sport Owners Club</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 welcome-choices">
          <p>Sign up to register your TIME Sport frame or bicycle. In addition, you'll get exclusive offers on TIME frames, pedals and accesories.</p>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-success' %>
        </div>
        <div class="col-md-4 welcome-choices">
          <p>Already registered? You can register additional TIME Frames.</p>
          <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    
  <% end %>
</div>
</section>