// @import 'overrides.css.scss';

h1, h2, h3 {font-weight:100;}
a {
  color:$time-red;
  &:hover {color:darken($time-red, 15%);}
}
p {
  color:$copy-text-color;
}
.icon-bar {color:#fff;}

.navbar-brand {
  margin-top:-5px;
}

#welcome {
  margin-top:-20px;
  height:100vh;
  background-image:image-url('Skylon-AKTIV-white-bike.png');
  background-repeat:no-repeat;
  background-size:200%;
  background-position-x:55%;

  background-position-y:350px;
  background-color:#f8f8f8;
  padding:40px 20px;
}

#bike_date_purchased_3i, #bike_date_purchased_2i, #bike_date_purchased_1i {width:7em;float:left;margin-right:10px;}
label.date.optional.control-label {float:left;display:block;line-height:34px;margin-right:10px;}
