$time-red: #d2232a;
$copy-text-color:rgba(0,0,0,.4);

$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;

$navbar-border-radius:$time-red;
$navbar-default-bg:$time-red;
$navbar-default-link-color:#f7f7f7;

$btn-primary-bg:$time-red;
$btn-success-bg:$time-red;
$navbar-default-toggle-icon-bar-bg:#f7f7f7;
$navbar-default-toggle-hover-bg:darken($time-red, 10%);
$navbar-default-toggle-border-color:$time-red;





